.abc
{
	background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url('boooks.jpg');/*to darken the backgroung and its url*/
	height: 51px;
	background-size:cover;/*to fill max background*/
	background-position: center;
}

.login_page
{
	width: 360px;
	padding:15% 0 0;
	margin: auto;
}
.form
{
	position:relative;
	z-index: 1;
	background-color:white;
	max-width: 360px;
	margin:0 auto 100px;
	padding:50px;
	text-align:center;
	background:rgb(75 175 215);
}

.form input
{
	font-family: cursive;
	outline:1;
	margin:0;
	padding:15px;
	margin:0 0 20px;
	box-sizing:border-box;
	font-size:14px;
	
}


.a
{
	font-family: cursive;
	background-color:#3CD46D; /*#4CAF50*/
	width:85%;
	outline:0;
	text-transform:uppercase;
	padding:20px;
	color:#FFTFTF;/*button text color*/
	cursor:pointer;
}

.form button:hover,.form button:active{
	background:red;
}

.form .msg a{
	color: yellow;
	text-decoration:none;
	 
}

.form .lgin
{
	display:none;
}




